name: Validate Commits

on:
  push:
    branches:
      - '**'
  pull_request:
    types: [opened, edited, synchronize, reopened]
    branches:
      - '**'

jobs:
  validate-commits:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Validate All Commit Messages
        uses: wagoid/commitlint-github-action@v6
